{% extends "blog_layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Blog | UMAAU{% endblock title %}</title>
</head>
<body>
{% block content %}
    <main>
        <div class="row">
            <div class="container">
                <div class="col s12">
                    <div class="section blog_title_section center-align">
                        <h3 class="blog_title light">Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships</h3>
                    </div>
                    <div class="section center-align">
                        <div class="divider blog_divider"></div>
                    </div>
                    <div class="member_paragraph center-align blog_post_date">Published on 29th-Mar-2018</div>
                    <div class="section"></div>
                    <div class="section"></div>
                    <a href="{% static 'img/event_one/merit_scholarships_3.jpg' %}" data-fancybox="images"
                       data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships">
                <span class="blog_img">
                <img class=" responsive-img tooltipped" data-position="right" data-tooltip="Click to view more pictures"
                     data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"
                     src="{% static 'img/event_one/merit_scholarships_3.jpg' %}"/>
                </span>
                    </a>
                    <p class="black-text member_paragraph blog_paragraph">
                        The Equity and Merit scholarships from the University of Manchester aim to assist talented but
                        economically disadvantaged students from some of the world’s poorest countries.<br><br> Since
                        the
                        program began in 2007, a total of 206 have been awarded to exceptional individuals who have
                        demonstrated both academic excellence and a commitment to the economic/social development of
                        their home communities.<br><br> This is done through up to 17 full-time campus-based
                        scholarships for postgraduate
                        taught masters students and up to 10 masters by distance learning for academically excellent
                        professionals from Rwanda, Uganda, Tanzania and Ethiopia.

                    </p>
                    <a href="{% static 'img/event_one/merit_scholarships_7.jpg' %}" data-fancybox="images"
                       data-caption="These People at that place">
                <span class="blog_img">
                    <img class=" responsive-img tooltipped" data-position="right"
                         data-tooltip="Click to view more pictures"
                         data-caption="This is event one picture"
                         src="{% static 'img/event_one/merit_scholarships_7.jpg' %}"/>
            </span>
                    </a>
                    <p class="black-text member_paragraph light blog_paragraph">
                        On 28th March, the University celebrated 10 years of Equity and Merit scholarships, and on 24th
                        June 2017, a celebratory event was held in Uganda at the Serena Conference Centre in
                        Kampala.<br><br>
                        The event took the opportunity to highlight the exciting work some E&M alumni are undertaking in
                        their countries to transform communities. Among these students highlighted were 4 of our
                        own:<br><br>
                        1. Ann Auma, a Sear Equity and Merit Scholar who completed her MSc Immunology in 2013. She is
                        now a researcher at Mulago hospital Kampala and is using education and medicine to protect
                        people from a much more serious threat – infectious disease. She is focussing on the malaria
                        parasite and how it will be in in the next 20 years so as to understand how we can eradicate it.<br><br>
                        2. Andrew Amara, an Alan Gilbert Memorial Scholar who completed an MA Global Urban Planning and
                        Development in 2013 and now works in Nabweru Slum in Nansana to delivers development to this
                        settlement through more sustainable means through an organisation of his peers called Town
                        Build.<br><br>
                        3. Winnie Nassolo, an Equity and Merit Scholar who received her MSc Medical and Diagnostic
                        Virology in 2010. Winnie is aggressively promoting dental infection control as the dental focal
                        person for Kampala Capital City Authority. She oversees all the dental services in the city
                        centre both public and private and has introduced infection control, which she learned in
                        Manchester, to them.<br><br>
                        4. Kenneth Kahuma, a Palo Alto Equity and Merit Scholar who received his MSc Electrical Power
                        Systems Engineering in 2015. Kenneth is tirelessly working to improve the access to power in
                        rural areas like Bugala Island at the Bukuzindu hybrid power station.<br><br>
                        At the event the E&M scheme was launched as an exclusively African programme, with the aim to
                        create a more coherent programme with clear geographical focus and as of the academic year 2018,
                        E&M scholarships would be available only to students from Rwanda, Uganda, Tanzania and Ethiopia
                    </p>
                </div>
            </div>
        </div>

        {#     -------------- Other Images for the gallery-------#}
        <a href="{% static 'img/event_one/merit_scholarships_2.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_1.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_4.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_5.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_6.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_8.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_9.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_10.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_11.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_12.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_13.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_14.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_15.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        <a href="{% static 'img/event_one/merit_scholarships_16.jpg' %}" data-fancybox="images"
           data-caption="Celebrating 10 years of the University of
                            Manchester Equity and Merit scholarships"></a>
        </div>
    </main>

{% endblock %}
</body>
</html>