{% extends "blog_layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Blog | UMAAU{% endblock title %}</title>
</head>
<body>
{% block content %}
    <main>
        <div class="row">
            <div class="container">
                <div class="col s12">
                    <div class="section blog_title_section center-align">
                        <h3 class="blog_title light">2017 Pre-Departure Students Briefing</h3>
                    </div>
                    <div class="section center-align">
                        <div class="divider blog_divider"></div>
                    </div>
                    <div class="member_paragraph center-align blog_post_date">Published on 19th-Apr-2018</div>
                    <div class="section"></div>
                    <div class="section"></div>
                    <a href="{% static 'img/event_three/briefing_1.jpg' %}" data-fancybox="images"
                       data-caption="2017 Pre-Departure Students Briefing">
                <span class="hvrbox">
                <img class="responsive-img hvrbox-layer_bottom" data-caption="2017 Pre-Departure Students Briefing"
                     src="{% static 'img/event_three/briefing_1.jpg' %}"/>
{#                    <span class="hvrbox-layer_top">#}
{#		            <span class="hvrbox-text">#}
{#                        <h4 class="light">Click on image for Slide show</h4>#}
{#                    </span>#}
{#	                </span>#}
                </span>
                    </a>
                    <p class="black-text member_paragraph blog_paragraph">
                        Every year, some of the Alumni voluntarily meet new students before they leave for their studies
                        at the University of Manchester. The 2017 event happened in September, just before students left
                        for their studies. <br><br>
                        The interactions are aimed at sharing information and experiences and answering any questions to
                        enable new students make the necessary preparations before travel. It also helps them to make
                        connections with the University, meet other students, understand the opportunities available to
                        them, and some of the cultural differences they might expect.<br><br>
                        This meeting was in line with one of our core objectives of providing guidance and mentorship to
                        students or prospective students who may desire to study at the University of Manchester. The
                        Association is always open to assist prospective students who wish to join the University with
                        the information they require.
                    <p/>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>