{% extends "blog_layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Blog | UMAAU{% endblock title %}</title>
</head>
<body>
{% block content %}
    <main>
        <div class="row">
            <div class="container">
                <div class="col s12">
                    <div class="section blog_title_section center-align">
                        <h3 class="blog_title light">UMAAU Get-Together; <br>June 16, 2018</h3>
                    </div>
                    <div class="section center-align">
                        <div class="divider blog_divider"></div>
                    </div>
                    <div class="member_paragraph center-align blog_post_date">Published on 23rd-Apr-2018</div>
                    <div class="section"></div>
                    <div class="section"></div>
                    <p class="black-text member_paragraph blog_paragraph">
                        This get-together barbecue event will be held in Kampala at Welo Inn and Tours located on Mulago
                        Hill. The event is meant to bring together members and others who are yet to commit to
                        membership to meet the Interim committee, ask questions and discuss ideas on how we can
                        collectively move forward.<br><br>
                        In addition, the event has purposely been scheduled to coincide with the Manchester Day event,
                        an annual civic celebration event in the City of Manchester which will take place on June 17,
                        2018. The University of Manchester has requested Alumni groups across the world to participate
                        and it is our pleasure to be a part of it. <br><br>

                        At this event, the date and agenda for the annual General Assembly of the Association will be
                        discussed. Details on forming a new substantive committee to take the Association forward will
                        also be finalized. Kindly RSVP (Elijah 0771622540 or Robert 0777472366) for planning
                        purposes.<br><br>
                        More details will be provided via our social media platforms.

                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>