{% extends "layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Events | UMAAU{% endblock title %}</title>
</head>
<body id="events">
{% block content %}
    <div class="events_banner">
        <div class=" container col s12">
            <h2 class="center-align light">Our activities...</h2>
        </div>
    </div>
    <div class="row">
        <div class="events_container">
            <div class="col s12 m12 l8">
                <div class="row center-align">
                    <div class="">
                        <h3 class="center-align light">Recent Events</h3>
                        <div class="col s12 m6">
                            <div class="card events_card z-depth-0">
                                <div class="card-image black">
                                    <img class="card_img" src="{% static 'img/event_one/merit_scholarships_6.jpg' %}"/>
                                    <span class="card-title left-align">Celebrating 10 Years of Equity and Merit Scholarships</span>
                                </div>
                                <div class="card-content left-align">
                                    <p class=card_content>The Equity and Merit scholarships from the University of
                                        Manchester
                                        aim to assist talented but
                                        economically disadvantaged students from some of world’s poorest
                                        countries...</p>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'events:event_one' %}" class="read_more" >
                                        Read More...
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card events_card z-depth-0">
                                <div class="card-image black">
                                    <img class="card_img "
                                         src="{% static 'img/event_two/initiatives_3.jpg' %}"/>
                                    <span class="card-title left-align">The University of Manchester Collaboration Initiatives</span>
                                </div>
                                <div class="card-content left-align">
                                    <p class=card_content>The University of Manchester supports developmental programs
                                        through collaborations with
                                        institutions in Uganda. Some of the activities conducted support
                                        collaboration...</p>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'events:event_two' %}" class="read_more" >
                                        Read More...
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="row">
                    <div class="">
                        <h3 class="center-align light">Upcoming Events</h3>
                        <div class="col s12 m12">
                            <div class="card events_card horizontal row z-depth-0">
                                <div class="">
                                    <div class="card-content left-align">
                                        <span class="card-title center-align">UMAAU Get-Together; May 19, 2018</span>
                                        <div class="divider"></div>
                                        <div class="section"></div>
                                        <p class="card_content">This meet-and-greet event will be held in Kampala at a
                                            venue to be communicated on May 19, 2018.
                                            The event is meant to bring together members and others who are yet to
                                            commit to membership...
                                        </p>
                                    </div>
                                    <div class="card-action center-align">
                                        <a href="{% url 'events:event_four' %}" class="read_more" >
                                            Read More...
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="card events_card horizontal row z-depth-0">
                                <div class="">
                                    <div class="card-content left-align">
                                        <span class="card-title center-align">UMAAU Annual General Assembly </span>
                                        <div class="divider"></div>
                                        <div class="section"></div>
                                        <p class="card_content">The Executive Committee is mandated to call a General
                                            Assembly annually. Among others, the GA shall be attended by all subscribing
                                            members as voting delegates...
                                        </p>
                                    </div>
                                    <div class="card-action center-align">
                                        <a href="{% url 'events:event_five' %}" class="read_more" >
                                            Read More...
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 m12 ">
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
</body>
</html>