{% extends "layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Committee | UMAAU{% endblock title %}</title>
</head>
<body>
{% block content %}
    <main>
        <div class="committe_banner">
            <div class=" container col s12">
                <h2 class="center-align ">Meet the team...</h2>
            </div>
        </div>
        <div class="container row">
            <h3 class="purple-text darken-2 center-align">Message from the Chairperson</h3>
        </div>
        <div class="row">
            <div class="container">
                <div class="card-panel events_card z-depth-0 light">
                    <h5>Dear fellow Manchester Alumni,</h5>
                    <p class="black-text member_paragraph light">
                        I welcome you to the University of Manchester Alumni Association in Uganda (UMAAU).
                        In Uganda alone, The University of Manchester has many Alumni, some working at the highest
                        levels of government,
                        research and academia, and the private sector.<br><br>
                        Whether you physically went to Manchester or did a distance-learning program, we all have
                        fond
                        memories of our “Manchester”
                        experience and are very proud of the University.
                        I strongly hope that Manchester education has had a profound impact on your career so far,
                        as it
                        has on mine.<br><br>
                        Our objective is simple: to create a valuable network of all Alumni in Uganda and beyond so
                        that
                        we can learn, influence,
                        collaborate and network.
                        Our networking is not limited and will be based on social, business and professional
                        interests
                        of members.<br><br>
                        As an Association, we have big dreams - we already have action points and very specific
                        targets
                        and we will waste no time in embarking
                        on a journey to achieve them together.
                        As Prof. Dame Nancy Rothwell (current President and Vice-Chancellor) once said, “This is
                        Manchester.
                        Here we break convention, we forge revolution, we make a difference”.<br><br>
                        I believe that these words are true for all of us, and under UMAAU, we can achieve even more
                        together.
                        I am grateful to the many members of the Alumni association who have already worked
                        tirelessly
                        in the interim to bring us to this stage.
                        As we continue to grow, I call upon all Manchester Alumni and any interested persons who
                        want to
                        become associate
                        members of UMAAU to reach out to us and sign up as members. Thank you.<br><br>
                    <h5>Edwin Mugume, PhD (Manchester)</h5>
                    <p class="member_paragraph">Interim Chairperson, Executive Committee.</p>
                    </p>
                    {#                    </div>#}
                </div>
            </div>

        </div>
        <div class="container row">
        </div>
        <div class="container row">
            <h3 class="purple-text darken-2 center-align">Meet the Interim Committee</h3>
        </div>

        <div class="section">
            <div class="container row ">
                <div class="team_img section col s12 m3 center_img">
                    <img src="{% static 'img/edwin.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5 class="center_small">Edwin Mugume - Chairperson</h5>
                    <p class="light committee_paragraph center_small">
                        Dr. Edwin Mugume attended the University of Manchester between 2010 to 2011 and 2012 to 2016.
                        He pursued a Masters degree in Communication Engineering and
                        a PhD in Electrical and Electronic Engineering respectively. He is currently a lecturer at the
                        Department of Electrical and Computer Engineering at Makerere University.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3 center_img">
                    <img src="{% static 'img/leah.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5 class="center_small">Leah Ndikuwera - Vice Chairperson</h5>
                    <p class="light committee_paragraph center_small">
                        Leah attended the University of Manchester between 2015
                        to 2017. She pursued a Masters degree in Management and Information Systems,
                        Change
                        and
                        Development. She was at the School of Environment, Education and Development (SEED) under the
                        Global
                        Development Institute in the Faculty of Humanities. She is currently working at the Democratic
                        Governance
                        Facility (DGF) as the MIS specialist.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3 center_img">
                    <img src="{% static 'img/sheila.png' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5 class="center_small">Sheila Abamu - Secretary</h5>
                    <p class="light committee_paragraph center_small">
                        Sheila attended the University of Manchester in the academic year 2013 to 2014.
                        She pursued a Master of Laws in Corporate Governance.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3 center_img">
                    <img src="{% static 'img/elijah.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5 class="center_small">Elijah Muhumuza - Treasurer</h5>
                    <p class="light committee_paragraph center_small">
                        Elijah attended the University of Manchester between 2011 to 2014.
                        He pursued a Bachelor of Arts degree in Economics and Social Studies,
                        majoring in Accounting & Finance. He is currently
                        an Auditor at Backhouse Certified Public Accountants.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3 center_img">
                    <img src="{% static 'img/patrick.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5 class="center_small">Patrick Mugwanya - Publicity Secretary</h5>
                    <p class="light committee_paragraph center_small">
                        Patrick attended the University of Manchester in the 2013 to 2014 academic year.
                        He pursued a Masters degree in Electrical Power Systems Engineering.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img section col s12 m3 center_img">
                    <img src="{% static 'img/robert.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5 class="center_small">Robert Tugume - Vice Secretary</h5>
                    <p class="light committee_paragraph center_small">
                        Robert attended the University of Manchester in the academic year 2012 to 2013.
                        He pursued a Masters degree in Petroleum Geoscience for Reservoir Development and
                        Production at the Faculty of Engineering and Physical Sciences. He is currently
                        a Lecturer at the Department of Geology and Petroleum Studies at Makerere University.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3 center_img">
                    <img src="{% static 'img/andrew.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5 class="center_small">Andrew Amara - Deputy Treasurer</h5>
                    <p class="light committee_paragraph center_small">
                        Andrew attended the University of Manchester in the academic year
                        2012 to 2013. He pursued a Masters degree in Global Urban planning.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
</body>
</html>