{% extends "layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Committee | UMAAU{% endblock title %}</title>
</head>
<body>
{% block content %}
    <main>
        <div class="container row">
            <h3 class="purple-text darken-2 center-align">Message from the Chairperson</h3>
        </div>
        <div class="section">
            <div class="row">
                <div class="container">
                    <div class="card-panel events_card z-depth-0 light">
                        <h5>Dear fellow Manchester Alumni,</h5>
                        <p class="black-text member_paragraph light">
                            I welcome you to the University of Manchester Alumni Association in Uganda (UMAAU).
                            In Uganda alone, The University of Manchester has many Alumni, some working at the highest
                            levels of government,
                            research and academia, and the private sector.<br><br>
                            Whether you physically went to Manchester or did a distance-learning program, we all have
                            fond
                            memories of our “Manchester”
                            experience and are very proud of the University.
                            I strongly hope that Manchester education has had a profound impact on your career so far,
                            as it
                            has on mine.<br><br>
                            Our objective is simple: to create a valuable network of all Alumni in Uganda and beyond so
                            that
                            we can learn, influence,
                            collaborate and network.
                            Our networking is not limited and will be based on social, business and professional
                            interests
                            of members.<br><br>
                            As an Association, we have big dreams - we already have action points and very specific
                            targets
                            and we will waste no time in embarking
                            on a journey to achieve them together.
                            As Prof. Dame Nancy Rothwell (current President and Vice-Chancellor) once said, “This is
                            Manchester.
                            Here we break convention, we forge revolution, we make a difference”.<br><br>
                            I believe that these words are true for all of us, and under UMAAU, we can achieve even more
                            together.
                            I am grateful to the many members of the Alumni association who have already worked
                            tirelessly
                            in the interim to bring us to this stage.
                            As we continue to grow, I call upon all Manchester Alumni and any interested persons who
                            want to
                            become associate
                            members of UMAAU to reach out to us and sign up as members. Thank you.<br><br>
                        <h5>Edwin Mugume, PhD (Manchester)</h5>
                        <p class="member_paragraph">Interim Chairperson, Executive Committee.</p>
                        </p>
                        {#                    </div>#}
                    </div>
                </div>

            </div>
        </div>
        <div class="container row">
        </div>
        <div class="container row">
            <h3 class="purple-text darken-2 center-align">Meet the Interim Committee</h3>
        </div>

        <div class="section">
            <div class="container row">
                <div class="team_img section col s12 m3 center-on-small-only">
                    <img src="{% static 'img/edwin.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5>Edwin Mugume - Chairperson</h5>
                    <p class="light committee_paragraph">
                        Dr. Edwin Mugume was at the University of Manchester in the years 2010 to 2011 and 2012 to 2016.
                        During which, he pursued a Master's degree in Communication Engineering and
                        a PhD in Electrical and Electronic Engineering respectively.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3">
                    <img src="{% static 'img/leah.jpg' %}" class="responsive-img circle ">
                </div>
                <div class="col s12 m9">
                    <h5>Leah Ndikuwera - Vice Chairperson</h5>
                    <p class="light committee_paragraph">
                        Leah was at the University of Manchester in the years 2015
                        to 2017. During which, she pursued a Master's degree in Management and Information Systems,
                        Change
                        and
                        Development. She was at the School of Environment, Education and Development (SEED) under the
                        Global
                        development Institute in the Faculty of Humanities.She is currently working at the Democratic
                        Governance
                        Facility (DGF) as the MIS specialist.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3 center-align">
                    <img src="{% static 'img/sheila.png' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5>Sheila Abamu - Secretary</h5>
                    <p class="light committee_paragraph">
                        Sheila was at the University of Manchester in the years 2013 to 2014.
                        During which, she pursued a Master of Laws degree in Corporate Governance.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3">
                    <img src="{% static 'img/elijah.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5>Elijah Muhumuza - Treasurer</h5>
                    <p class="light committee_paragraph">
                        Elijah was at the University of Manchester in the years 2011 to 2014.
                        During which, he pursued a Bachelor of Arts degree in Economics & Social Studies.
                        He majored in Accounting & Finance.He is currently working
                        as an Auditor at backhouse Certified public accountants.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3">
                    <img src="{% static 'img/patrick.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5>Patrick Mugwanya - Publicity Secretary</h5>
                    <p class="light committee_paragraph">
                        Patrick was at the University of Manchester in the years 2013 to 2014.
                        During which, he pursued a Master's degree in Electrical Power Systems Engineering
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img section col s12 m3 center-on-small-only">
                    <img src="{% static 'img/robert.jpg' %}" class="responsive-img circle center_img">
                </div>
                <div class="col s12 m9">
                    <h5>Robert Tugume - Vice Secretary</h5>
                    <p class="light committee_paragraph">
                        Robert was at the University of Manchester in the years 2012 to 2013.
                        During which, he pursued a Master's degree in Petroleum Geoscience for Reservoir Development and
                        Production.
                        He was at the Faculty of Engineering and Physical Sciences.He is currently working
                        as a Lecturer at the Dept of Geology and Petroleum Studies at Makerere University.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
        </div>
        <div class="section">
            <div class="container row">
                <div class="team_img col s12 m3">
                    <img src="{% static 'img/andrew.jpg' %}" class="responsive-img circle">
                </div>
                <div class="col s12 m9">
                    <h5>Andrew Amara - Deputy Treasurer</h5>
                    <p class="light committee_paragraph">
                        Andrew is the of the association. He was at the University of Manchester in the years
                        2012 to 2013. During which, he pursued a Master's degree in Global Urban planning.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
</body>
</html>