{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover_box.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="navbar-fixed fixed_navbar">
    <nav class="nav_bar blog_nav_bar">
        <div class="nav-wrapper #ffffff white row nav_wrapper">
            <div class="events_container">
                <div class="col s6 m2 l2 ">
                    <a href="{% url 'home' %}" class="logo_img logo_column">
                        <img class="logo_small" src="{% static 'img/logo_small.jpg' %}" alt="University Logo"/>
                    </a>
                </div>
                <a href="#" data-activates="slide-out" class="button-collapse right">
                    <i class="material-icons black-text darken-2 menu_icon light">menu</i>
                </a>
                <ul id="nav-mobile" class="right nav_active large_nav hide-on-med-and-down">

                    <li class="nav_link my_active">
                        <a class="grey-text text-darken-4" href="#">UMAAU Events Blog</a>
                    </li>
                    &nbsp
                    <li class="nav_link">
                        <a class="grey-text text-darken-4" href="{% url 'events:events' %}">Events</a>
                    </li>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="side-nav z-depth-3 side_navigation" id="slide-out">
    <li class="nav_link my_active">
        <a class="grey-text text-darken-4" href="#">UMAAU Events Blog</a>
    </li>
    <li class="nav_link">
        <a class="grey-text text-darken-4" href="{% url 'events:events' %}">Events</a>
    </li>
</ul>
{% block content %}{% endblock content %}

<footer class="page-footer purple darken-3 ">
    <div class="row center_small">
        <div class="container">
            <div class="col m6 s12 section">
                <h5 class="grey-text text-lighten-1">Useful Links</h5>
                <ul class="footer_list">
                    <li>
                        <a class="grey-text text-lighten-1 light" href="{% static 'docs/constitution.pdf' %}"
                           target="_blank">
                            Read our Constitution
                        </a>
                    </li>
                    <li class="section">
                        <a class="grey-text text-lighten-1 light" href="https://www.manchester.ac.uk/" target="_blank">
                            Check out the University of Manchester
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-1 light" href="https://www.manchester.ac.uk/connect/alumni/"
                           target="_blank">
                            Check out the Alumni Association of the <br>University of Manchester
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col m6 s12 section">
                <h5 class="grey-text text-lighten-1">Connect with Us</h5>
                <i class="fa fa-facebook-f grey-text text-lighten-1 social_icon"></i>&nbsp&nbsp&nbsp&nbsp
                <i class="fa fa-twitter grey-text text-lighten-1 social_icon"></i>&nbsp&nbsp&nbsp&nbsp
                <i class="fa fa-linkedin grey-text text-lighten-1 social_icon"></i>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
                <span class="flag_span ">
                    <img class="responsive-img ug_flag hide-on-med-and-down" src="{% static 'img/ug.png' %}">
                </span>&nbsp&nbsp&nbsp&nbsp
            <span class="grey-text copyright_text center_small">
                    Copyright © 2018 University of Manchester Alumni Association of Uganda. All Rights Reserved
                </span>
        </div>
    </div>
</footer>

{#<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>#}
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    });
</script>
</body>
</html>
