{% extends "layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
< lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}UMAAU | 404 Page not Found{% endblock title %}
</head>

<body>
{% block content %}
    <div class="row">
        <div class="section">
            <div class="container">
                <div class="card-panel center-align yellow accent-4 z-depth-4">
                    <h1 class="light">404 | Error</h1>
                    <h2 class="light">Page Not Found</h2>
                    <h3 class="light member_paragraph">OOps. It looks like the page you are looking for
                        does not exist.<br> You could click on any
                        of the navigation links above to return to an existing page in the website
                    </h3>
                </div>
            </div>
        </div>
    </div>s
{% endblock content %}
</body>
</html>

