{% extends "layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}UMAAU{% endblock title %}</title>
</head>
<body>
{% block content %}
    <div class="site_banner">
        <div class=" container">
            <h1 class="center-align site_heading">University of Manchester Alumni Association <br>in Uganda</h1>
            <div class="center-align member_btn_div">
                <a href="#modal"
                   class="modal-trigger waves-effect waves-light black-text yellow accent-2 btn tooltipped z-depth-0 square_btn"
                   data-position="bottom" data-tooltip="Click to fill in Contact form" data-delay="50">
                    Contact Us
                </a>
            </div>
        </div>
    </div>
    <div class="section events_cards">
        <div class="container">
            <div class="row">
                <div class="col s12 l4">
                    <div class="card hoverable">
                        <div class="card-image black">
                            <img class="responsive-img card_img" src="{% static 'img/event_one/merit_scholarships_5.jpg' %}"/>
                            <span class="card-title">Celebrating the 2017 Equity and Merit Scholarships</span>
                        </div>
                        <div class="card-content">
                            <p class="card_content">The Equity and Merit scholarships from the University of Manchester
                                aim to assist talented but
                                economically disadvantaged students from some of world’s poorest countries...</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'events:event_one' %}" class="read_more" target="_blank">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card hoverable">
                        <div class="card-image black">
                            <img class="card_img" src="{% static 'img/event_one/merit_scholarships_4.jpg' %}"/>
                            <span class="card-title card_title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p class="card_content">Morbi placerat imperdiet risus quis blandit.
                                Ut lobortis elit luctus, feugiat erat vitae,
                                interdum diam. Nam sit amet arcu vitae justo lacinia ultricies nec eget tellus.
                                ultricies nec eget tellus.</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'events:events' %}" class="read_more">View more...</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card hoverable">
                        <div class="card-image black">
                            <img class="card_img" src="{% static 'img/event_one/merit_scholarships_6.jpg' %}"/>
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p class="card_content">Morbi placerat imperdiet risus quis blandit.
                                Ut lobortis elit luctus, feugiat erat vitae,
                                interdum diam. Nam sit amet arcu vitae justo lacinia ultricies nec eget tellus.ultricies
                                nec eget tellus.</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'events:events' %}" class="read_more">View more...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <div class="divider"></div>#}
    <div class="container">
        <div class="row">
            <div class="col sm12">
                <p class="flow-text block_text_home light center-align">
                    The University of Manchester
                    Alumni Association
                    in Uganda (UMAAU) aims to keep you connected to the
                    University of Manchester through a series of re-unions, social events and other activities.
                </p>
                <div class="center-align member_btn_div">
                    <a href="{% url 'membership:membership' %}"
                       class=" waves-effect waves-light black-text yellow accent-2 btn tooltipped square_btn"
                       data-position="bottom" data-tooltip="Click to find out how to become a Member" data-delay="50">
                        Become a Member
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="modal" class="modal contact_us_modal">
        <div class="modal-content">
            <div class="container">
                <h4 class="center-align">Write to us!</h4>
                <p class="center-align light member_paragraph">We are happy to address any of your concerns</p>
                <div>
                    <form method="POST">
                        {#                    {{ form.as_p }}#}
                        {% csrf_token %}
                        <div class="row">
                            <div class="col s12 m6 input-field input_field">
                                <input type="text" id="first_name" placeholder="First Name" class="validate"
                                       name="{{ form.first_name.html_name }}"
                                       required>
                            </div>
                            <div class="col s12 m6 input-field input_field">
                                <input type="text" placeholder="Last Name"
                                       class="validate" name="{{ form.last_name.html_name }}"
                                       required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 input-field input_field">
                                <input type="email" placeholder="Email" class="validate"
                                       name="{{ form.email.html_name }}" required>
                            </div>
                            <div class="col s12 m6 input-field input_field">
                                <input type="email" placeholder="Confirm Email" class="validate"
                                       name="{{ form.verify_email.html_name }}"
                                       required>
                            </div>
                            <div class="col s12 input-field input_field">
                                &nbsp&nbsp<label>Your Message</label>
                                <div class="section">
                                <textarea placeholder="Message/Suggestion" id="textarea1" class="materialize-textarea"
                                          type="text"
                                          name="{{ form.suggestion.html_name }}"
                                          required>
                                </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="waves-effect waves-light black-text yellow accent-2 btn right-align">
                            <input type="submit" value="Submit" class="form_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
<script>
    $(document).ready(function () {

    });
</script>
</body>


</html>