{% extends "layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us | UMAAU{% endblock title %}</title>
</head>
<body>
{% block content %}
    <main>
        <div class="about_us_banner">
            <div class=" container ">
                <h2 class="center-align">Who we Are...</h2>
            </div>
        </div>
        <div class="container row">
            <div class="col s12 m12 l6">
                <h3 class="purple-text darken-2 center-align">Mission</h3>
                <p class="flow-text member_paragraph center-align">
                    To champion, manage, promote and maintain life-long relationships between The University of
                    Manchester
                    and its Alumni in Uganda and beyond.
                </p>
            </div>
            <div class="col s12 m12 l6">
                <h3 class="purple-text darken-2 center-align">Vision</h3>
                <p class="flow-text member_paragraph center-align">
                    We are a dynamic association of fully-supportive Alumni members that will foster life-long
                    connections
                    of the Alumni with The University of Manchester
                </p>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col s12">
                    <h3 class="purple-text darken-2 center-align">Get to know us</h3>
                    <div class="card-panel events_card z-depth-0 light">
                        <p class="member_paragraph">The University of Manchester has over 350,000 Alumni based in over 200 countries and covering
                            working in every imaginable field. A huge number of Alumni are based in Uganda and the wider
                            East African region. UMAAU aims to keep you connected to the University and fellow Alumni
                            through a series of re-unions, social events and other relevant activities.<br><br>
                            All those associated with the University, whether you live or work in Uganda and East Africa
                            or whether you are visiting for a limited period of time, are welcome to engage with the
                            association. We also welcome those who are still current students of the University to begin
                            their journey with us.<br><br>
                            If you are a prospective student, get in touch with us and we will give you all the
                            information you require or connect you to the right people at the University as you consider
                            your study options.
                            Visit the Events page to check out our past and upcoming activities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>





{% endblock content %}
</body>
</html>