{% extends "layout.html" %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us | UMAAU{% endblock title %}</title>
</head>
<body>
{% block content %}
    <div class="about_us_banner">
        <div class=" container">
            <h1 class="center-align">Who we Are...</h1>
        </div>
    </div>
    <div class="container row">
        <div class="col s6">
            <h3 class="purple-text darken-2 center-align">Mission</h3>
            <p class="flow-text ">
                To champion, manage, promote and maintain life-long relationships between The University of Manchester
                and its Alumni in Uganda and beyond.
            </p>
        </div>
        <div class="col s6">
            <h3 class="purple-text darken-2 center-align">Vision</h3>
            <p class="flow-text ">
                We are a dynamic association of fully-supportive Alumni members that will foster life-long connections
                of the Alumni with The University of Manchester
            </p>
        </div>
    </div>

    <div class="container row">
        <h3 class="purple-text darken-2 center-align">Meet the Committee</h3>
    </div>
    <div class="section">
        <div class="row">
            <div class="container">
                <div class="card-panel events_card z-depth-0 light">
                    <div class="left-align">
                        <img class="responsive-img col s12 m3" src="{% static 'img/edwin.jpg' %}">
                    </div>
{#                    <div>#}
                        <h4 class="col s12 m9 president_col">Message from the President.</h4><br><br><br>
                        <h5>Dear fellow Manchester Alumni,</h5>
                        <p class="black-text member_paragraph light">
                        I welcome you to the University of Manchester Alumni Association in Uganda (UMAAU).
                        In Uganda alone, The University of Manchester has many Alumni, some working at the highest
                        levels of government,
                        research and academia, and the private sector.<br><br>
                        Whether you physically went to Manchester or did a distance-learning program, we all have fond
                        memories of our “Manchester”
                        experience and are very proud of the University.<br>
                        I strongly hope that Manchester education has had a profound impact on your career so far, as it
                        has on mine.<br><br>
                        Our objective is simple: to create a valuable network of all Alumni in Uganda and beyond so that
                        we can learn, influence,
                        collaborate and network.<br>
                        Our networking is not limited and will be based on social, business and professional interests
                        of members.<br><br>
                        As an Association, we have big dreams - we already have action points and very specific targets
                        and we will waste no time in embarking
                        on a journey to achieve them together.<br>
                        As Prof. Dame Nancy Rothwell (current President and Vice-Chancellor) once said, “This is
                        Manchester.
                        Here we break convention, we forge revolution, we make a difference”.<br><br>
                        I believe that these words are true for all of us, and under UMAAU, we can achieve even more
                        together.
                        I am grateful to the many members of the Alumni association who have already worked tirelessly
                        in the interim to bring us to this stage.
                        As we continue to grow, I call upon all Manchester Alumni and any interested persons who want to
                        become associate
                        members of UMAAU to reach out to us and sign up as members. Thank you.<br><br>
                            <h5>Edwin Mugume, PhD (Manchester)</h5>
                            <p class="member_paragraph">Interim Chairman, Executive Committee.</p>
                        </p>
{#                    </div>#}
                </div>
            </div>

        </div>
    </div>
    <div class="section">
        <div class="container row">
            <div class="team_img section col s12 m3 center-on-small-only">
                <img src="{% static 'img/edwin.jpg' %}" class="responsive-img circle">
            </div>
            <div class="col s12 m9">
                <h5>Edwin Mugume</h5>
                <p class="light committee_paragraph">
                    Dr. Edwin Mugume is the acting Interim President of the Association.
                    He was at the University of manchester in the years 2010 to 2011 and 2012 to 2016.
                    During which, he pursued a Master's degree in Communication Engineering and
                    a phD in Electrical and Electronic Engineering respectively.
                </p>
            </div>
        </div>
    </div>

    <div class="container row">
        <div class="team_img section col s12 m3 center-on-small-only">
            <img src="{% static 'img/robert.jpg' %}" class="responsive-img circle ">
        </div>
        <div class="col s12 m9">
            <h5>Robert Tugume</h5>
            <p class="light committee_paragraph">
                Robert is the Deputy Secretary of the Association.
                He was at the University of manchester in the years 2012 to 2013.
                During which, he pursued a Master's degree in Petroleum Geoscience for Reservoir Development and
                Production.
                He was at the Faculty of Engineering and Physical Sciences.<br>He is currently working
                as a Lecturer at the Dept of Geology and Petroleum Studies at Makerere University.
            </p>
        </div>
    </div>
    <div class="container row">
        <div class="team_img col s12 m3">
            <img src="{% static 'img/patrick.jpg' %}" class="responsive-img circle">
        </div>
        <div class="col s12 m9">
            <h5>Patrick Mugwanya</h5>
            <p class="light committee_paragraph">
                Patrick is the Publicity secretary of the Association.
                He was at the University of manchester in the years 2013 to 2014.
                During which, he pursued a Master's degree in Electrical Power Systems Engineering
            </p>
        </div>
    </div>
    <div class="container row">
        <div class="team_img col s12 m3">
            <img src="{% static 'img/elijah.jpg' %}" class="responsive-img circle">
        </div>
        <div class="col s12 m9">
            <h5>Elijah Muhumuza</h5>
            <p class="light committee_paragraph">
                Elijah is the Treasurer of the Association.
                He was at the University of manchester in the years 2011 to 2014.
                During which, he pursued a Bachelor of Arts degree in Economics & Social Studies.
                He majored in Accounting & Finance.<br> He is currently working
                as an Auditor at backhouse Certified public accountants.
            </p>
        </div>
    </div>
    <div class="container row">
        <div class="team_img col s12 m3">
            <img src="{% static 'img/sheila.png' %}" class="responsive-img circle">
        </div>
        <div class="col s12 m9">
            <h5>Sheila Catherine Abamu</h5>
            <p class="light committee_paragraph">
                Sheila is the acting interim Secretary of the Association.
                She was at the University of manchester in the years 2013 to 2014.
                During which, she pursued a Master of Laws degree in Corporate Governance.
            </p>
        </div>
    </div>
    <div class="container row">
        <div class="team_img col s12 m3">
            <img src="{% static 'img/andrew.jpg' %}" class="responsive-img circle">
        </div>
        <div class="col s12 m9">
            <h5>Andrew Amara</h5>
            <p class="light committee_paragraph">
                Andrew was at the University of manchester in the years 2012 to 2013.
                During which, he pursued a Master's degree in Global Urban planning.
            </p>
        </div>
    </div>


{% endblock content %}
</body>
</html>